({:foo "foo", :bar "foo", :id "ab7e7060-3f7f-4a35-8295-d042ae5dbcdf"} {:name "John", :address "Die", :id "adc979c4-f7db-4a4b-bd33-e4d7df501a51"} {:name "John", :address "Doe", :id "6007173a-af87-4acb-8eb5-6c3d8d8a31e3"} {:test "asu", :id "b94ab239-27ef-430c-b9a5-cceb1f5d0a5d"} {:name "John", :gender "helicopter", :id "b3edbedc-08ba-4498-b18b-a04a9c11cc80"} {:name "Aua", :gender "deleted", :id "3252dde0-0c52-44cb-9333-970ff5d0bceb"})